<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <main style="font-size: 16px;">
    <span>Olá,</span>
    <p>Uma recuperação de senha foi solicitada para a sua conta do <a href="{{ vagamenteUrl }}">Vagamente</a>.</p>
    <p style="padding-bottom: 16px;">Clique no botão abaixo para alterar a sua senha:</p>
    <a href="{{ url }}" style="padding: 8px; border-radius: 8px; background-color: green; color: white; text-decoration: none; font-weight:700;">Alterar senha</a>
    <p style="padding-top: 16px;"><span style="font-weight: 700;">Atenção:</span> Esse link ficará disponível por 10 minutos.</p>
    <p>Caso você não tenha solicitado alteração de senha, por favor, ignore este e-mail.</p>
    <br />
    <p>Atenciosamente, </p>
    <p>Equipe Vagamente.</p>
  </main>
</body>
</html>
